@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9f9f9;
	--color-gray-100: #f3f3f3;
	--color-gray-200: #e5e5e5;
	--color-gray-300: #d4d4d4;
	--color-gray-400: #a3a3a3;
	--color-gray-500: #737373;
	--color-gray-600: #525252;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #171717;
	--color-gray-950: #0a0a0a;

	--color-primary-50: oklch(0.982 0.018 45);
	--color-primary-100: oklch(0.962 0.044 45);
	--color-primary-200: oklch(0.925 0.084 45);
	--color-primary-300: oklch(0.871 0.15 45);
	--color-primary-400: oklch(0.792 0.209 45);
	--color-primary-500: oklch(0.723 0.219 45);
	--color-primary-600: oklch(0.627 0.194 45);
	--color-primary-700: oklch(0.527 0.154 45);
	--color-primary-800: oklch(0.448 0.119 45);
	--color-primary-900: oklch(0.393 0.095 45);
	--color-primary-950: oklch(0.266 0.065 45);

	--color-secondary-50: oklch(97% 0.015 30);
	--color-secondary-100: oklch(92% 0.02 30);
	--color-secondary-200: oklch(86% 0.03 30);
	--color-secondary-300: oklch(80% 0.04 30);
	--color-secondary-400: oklch(74% 0.05 30);
	--color-secondary-500: oklch(68% 0.06 30);
	--color-secondary-600: oklch(60% 0.07 30);
	--color-secondary-700: oklch(52% 0.08 30);
	--color-secondary-800: oklch(40% 0.09 30);
	--color-secondary-900: oklch(30% 0.1 30);
	--color-secondary-950: oklch(20% 0.11 30);

	--font-body: var(--font-family), var(--font-fallback);
	--font-display: var(--font-body);
}
